{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "extends": ["standard"],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "chai-friendly"
    ],
    "overrides": [
        {
            "files": ["config.ts"],
            "rules": {
                "no-process-env": "off"
            }
        }, {
            "files": ["*.test.ts", "*.spec.ts"],
            "rules": {
                "no-process-env": "off",
                "no-unused-expressions": "off",
                "chai-friendly/no-unused-expressions": 2,
                "no-magic-numbers": "off",
                "@typescript-eslint/no-magic-numbers": "off"
            }
        }
    ],
    "rules": {
        "indent": ["error", 4],
        "padded-blocks": "off",
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never"
          }
        ],
        "operator-linebreak": ["error", "after"],
        "no-undef": "off",
        "no-extra-semi": 2,
        "no-process-env": 2,
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "no-magic-numbers": "off",
        "@typescript-eslint/no-magic-numbers": ["error", {
            "ignore": [0, 1],
            "ignoreArrayIndexes": true,
            "ignoreReadonlyClassProperties": true,
            "ignoreEnums": true
        }]
    },
    "env": {
        "node": true,
        "commonjs": true,
        "mocha": true,
        "es6": true
    }
}
